*,
*:after,
*::before
{
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box; 
}

body{
    height: 100%;
    background-color: rgb(48, 48, 48);
}

header{
    width: 100%;
    z-index: 99;
    
    background-color: rgb(48, 48, 48);
}  

nav{
    position: fixed;
    width: 100%;
    /* max-width: 100%;  */
    display: flex;
    justify-content: space-between;
    padding: 30px;
    font-style: normal;
    font-size: 30px;
    color: white; 
    font-family: Verdana, sans-serif;
    /* border-bottom: 1px solid black; */
    box-sizing: content-box;
    z-index: 99;
    /* bottom: 0; */
    /* box-shadow: 0px 5px 20px 0px black; */
}

.logo{
    width: 400px;
}

.number{
    margin: 40px;
    width: 400px;
}

.nav{
    width: 500px;
    margin-right: 40px;
    text-align: center;
}

a{
    text-decoration: none;
    color: white; 
}

.navBar{
    margin-left: 40px;
    font-family: Verdana, sans-serif;
    justify-content: space-between;
    font-size: 24px;
    transition: .5s;
}


.navBar:hover{
    color: rgb(45, 80, 197);  
}











.fullscreen_bg{
    background: url(_DSF3774.JPG) center/ cover no-repeat fixed; 
}










.wrapper{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.fullscreen{
    min-height: 100vh;
    background-color: gray;
    display: flex;
    padding: 50px 0;

}

.fullscreen__body{
    color: aliceblue;
    flex: 1 1 auto;
    width: 100%;
    max-width: 1000px;
    margin: 0px auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 20px;
}





.fullscreen__title{
    font-size: 50px;
    margin: 0px 0px 30px 0px;
}

.fullscreen__text{
    font-size: 25px;
    margin-bottom: 20px;
    
}

.fullscreen__link{
    padding: 0px 20px;
    display: inline-block;
    line-height: 50px;
    text-transform: uppercase;
    color: aliceblue;
    border: 1px solid black;
    border-radius: 20px;
    background-color: black;
    letter-spacing: 2px;
    align-self: center;
}

.fullscreenTwo{
    background-color: tan;
}

.content{
    
}

.content__body{
    max-width: 1000px;
    margin: 0px auto;
    padding: 30px 20px;
    color: aliceblue;
}

.content__body p{
    margin-bottom: 20px;
}

.content__body p:last-child{
    margin-bottom: 0px;
}

.footer{
    background-color: black;
    text-align: center;
}



.footer__body{
    max-width: 1000px;
    margin: 0px auto;
    padding: 30px 20px;
    color: aliceblue;

}









::-webkit-scrollbar{
    width: 0px;
}





.fullscreen__text{
    font-size: 25px;
    margin-bottom: 20px;
    
}

.list{
    text-align: left;
    list-style: none;
}

.icon{
    font-size: 50px;
}


#ars{
    font-size: 80px;
}














/* main{
    margin: 0;
    
    width: 100%;
    height: 1080px;
    background-color: bisque;
}

.container{
  
}

.mainText{
    position: relative;
    width: 1200px;
    height: 350px;
    background: transparent;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    padding: 0 15px;
    margin-top: 0;
    padding-top: 9em;
    padding-bottom: 1080px;
	max-width: 1200px;
    text-align: center;
    font-size: 50px;  
}

h1{
    margin: 0;
}
h2{
    font-size: 14px;
} */